html {
  position: relative;
  font-size: $s-base;
  color: $c-root;
  background-color: $c-bg;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

button {
  border: 0;
  background-color: transparent;
}

// Other globally-styled elements go here
