// --- Animation ---

$transition: 0.2s ease;

@mixin animate($props...) {
  @each $prop in $props {
    transition: $prop $transition;
  }
}


// --- Accessibility ---

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
